/*COLORS*/
$color-primery: #00b3be;
$color-second: #91d763;
$color-white: #fff;
$color-grey: #4a4a4a;

/*FONTS*/
$font-primery: "Arial Rounded MT Bold", Arial, sans-serif;
$font-secondary: "Myriad Pro-Regular", Arial, sans-serif;

/*BREAKPOINTS*/
$screen-sm-min: 576px;

$screen-md-min: 768px;

$screen-lg-min: 992px;

$screen-xl-min: 1200px;
